body{

    background-image: url("background.gif");
    text-align: center;
    height: 700px;
}

#heading{

    font-family: 'Zen Dots', cursive;
    font-size: 64px;
    color: white;
    text-align: center;
}

#bed{

    font-family: 'Zen Dots', cursive;
    font-size: 64px;
    color: white;
    text-align: center;
    display:inline;
}

#b1, #b2, #b3{

    background-color: goldenrod;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;

}

#status
{
font-size: 25px;
color: white;
font-weight: bold;
background-color: goldenrod;
width: 30%;
border-radius: 20px;
}

#ans{

    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: goldenrod;
    width: 50%;
    border-radius: 20px; 
}

canvas{

    border-radius: 15px;
    border: 5px solid white;
    margin-top: 130px;
}

#back{

    background-color: goldenrod;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    right: 10px;
    margin-right: 10px;
    position: absolute;
}
